{% extends "base.html" %}
{% block content %}

<header class="index-header"><h1>List of Habitats</h1></header>
<nav>
    <button class="add-button"><a class="text-button"  href="/habitats/new">Add New Habitat</a></button>
</nav>
{% for habitat in habitats %}
    <div class="content">
        <h3 class="index-title">{{habitat.name}}</a></h3>
        <img src="{{habitat.image}}" width="400px" height="400px">
        <div><a class="links" href="/habitats/{{habitat.id}}">Click for more info..</a></div>
        <form class="delete-form" action="/habitats/{{habitat.id}}/delete" method="POST">
         <button class="remove_habitat">Remove Habitat</button>
       </form>
      </div>
  {% endfor %}
  {% endblock %}

     